   body{
    height: 100vh;
    display: flex;
    }
  
  #gif {
    margin-left: 5%;
  }

  #folder {
    position: absolute;
    margin-top: 48%;
  }

#folder:hover {
    transform: scale(1.2);
}

  #cd {
    position: absolute;
    margin-top: 39%;
  }

  #cd:hover {
    transform: scale(1.2);
}

button {
  background-color: blueviolet;
  border: black;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  font-family: Rum Raisin;
}

  .draggable-box {
    position: absolute;
    cursor: grab;
  }

  h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
  }

  #l1 {
    left: 790px;
    top: 70px
  }


  #l2 {
    left: 680px;
    top: 70px
  }

  #box1 {
    top:50px;
    left: 550px
  }

  #box2 {
    top:50px;
    left: 400px
  }

  #box3 {
    top:50px;
    left: 250px
  }

  #box4 {
    top:50px;
    left: 110px
  }

  #box5 {
    top:50px;
    left: 1px
  }

  #box6 {
    top: 300px;
    left: 650px
  }

  #box7 {
    top: 300px;
    left: 490px
  }

  #box8 {
    top: 300px;
    left: 160px
  }

  #skirt {
    top: 300px;
    left: 330px
  }

  #box9 {
    top: 300px;
    left: 1px
  }

  #box10 {
    top: 500px;
    left: 1px
  }

  #box11 {
    top: 500px;
    left: 200px
  }

  #sock {
    top: 540px;
    left: 400px
  }

  #sock2 {
    top: 540px;
    left: 600px
  }

  #pant {
    top: 350px;
    left: 815px;
  }

  #girl {
    margin-top: 70px;
    margin-right: 145px;
  }
